* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Arial", sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: auto;
}

.title {
  margin: 20px 0;
}

.textarea {
  font-size: 1.4rem;
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.keyboard {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.help-text {
  font-size: 1.6rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.button {
  min-width: 40px;
  height: 40px;
  margin: 5px;
  outline: none;
}

.button.Backspace,
.button.CapsLock,
.button.ShiftLeft,
.button.ShiftRight,
.button.Enter {
  width: 90px;
}

.Tab, .CapsLock, .ShiftLeft,
.ControlLeft, .MetaLeft, .AltLeft,
.Backspace, .Del, .Enter,
.ShiftRight, .ControlRight, .ArrowRight,
.ArrowDown, .ArrowLeft, .ArrowUp,
.AltRight {
  background: #bbb;
}

.button.Tab,
.button.Del {
  width: 60px;
}

.button.Space {
  width: 370px;
}

.button .en,
.button .ru {
  display: none;
}

.keyboard.en .button .en,
.keyboard.ru .button .ru {
  display: block;
}

.button span span {
  display: none;
}

.button span span {
  display: none;
}

.keyboard.lower .lower,
.keyboard.shift .shift,
.keyboard.caps .caps,
.keyboard.capsShift .capsShift {
  display: block;
}


